<p>tennis-player works!</p>
<p>Bonjour {{cible.firstName}} {{cible.name}} </p>

<ul>
  <li *ngFor="let pl of playersList" (click)="changeCible(pl)" [class.selected]="isSelected(pl)"> {{pl.name}} </li>
</ul>
<!-- 
<label>
  name:
  <input type="text" placeholder="Player name" [(ngModel)]="cible.name" *ngIf="showText()" />
</label>

<label>
  name:
  <input type="text" placeholder="Player name" [(ngModel)]="cible.name" />
</label>

<label>
  firstName:
  <input type="text" placeholder="Player name" [(ngModel)]="cible.firstName" />
</label> -->

<app-player-detail [selectedPlayer]="cible"></app-player-detail>

<button (click)="onClick()">Click</button>

