<form [formGroup]="playerForm" (ngSubmit)="submit()">
	<label>
		name:
		<input type="text" placeholder="Player name" formControlName="name" />
		<span *ngIf="shouldShowRequiredError(playerForm.controls.name)">Ce champ est requis</span>
	</label>
	<label>
		firstName:
		<input type="text" placeholder="Player first name" formControlName="firstName" />
	</label>
	<label>
		email:
		<input type="email" placeholder="Player first name" formControlName="mail" />
		<span *ngIf="shouldShowError(playerForm.controls.mail)">Champ invalide</span>
	</label>
	<button (click)="onCancel()">Annuler</button>
	<button type="submit" [disabled]="!playerForm.valid">Valider</button>
</form>